@using congratulation.ViewModels
@model congratulation.ViewModels.UserViewModel

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Данные о @Html.DisplayFor(model => model.Alias)</h4>
<hr />
<dl class="dl-horizontal">
  <dt>
    @Html.DisplayNameFor(model => model.Alias)
  </dt>

  <dd>
    @Html.DisplayFor(model => model.Alias)
  </dd>

  <dt>
    @Html.DisplayNameFor(model => model.Name)
  </dt>

  <dd>
    @Html.DisplayFor(model => model.Name)
  </dd>

  <dt>
    @Html.DisplayNameFor(model => model.Surname)
  </dt>

  <dd>
    @Html.DisplayFor(model => model.Surname)
  </dd>

  <dt>
    @Html.DisplayNameFor(model => model.BirthdayDate)
  </dt>

  <dd>
    @Html.DisplayFor(model => model.BirthdayDate)
  </dd>

</dl>
<div class="row">
  <div class="col-12 userPage_addCard">
    <button class="btn-addCard">Создать новую открытку</button>
    @*@Html.ActionLink("AddCard", "AddCard", "Congratulation", new { id = Model.Id },null)*@
    <div class="row userPage_addCardForm">
      <div class="col-12">
        <div class="row">
          <div class="col-3">Укажите заголовок открытки</div>
          <div class="col-9"><input type="text" placeholder="С днем Рождения, С юбилеем" value="" class="addCardForm_headerText" /></div>
        </div>
        <div class="row">
          <div class="col-3">Кого поздравляем</div>
          <div class="col-9"><input type="text" value="" placeholder="Сестрёнка, Дружище, Игорь Афанасьевич.." class="addCardForm_headerText" /></div>
        </div>
      </div>
    </div>
  </div>
</div>
@foreach (CongratulationCardVm card in Model.CongratulationCards)
      {
  <div class="cardTable row">
    <div class="cardTable-no col-1">@card.Id</div>
    <div class="cardTable-whom col-4">@card.Whom</div>
    <div class="cardTable-whom col-4">@card.HeaderText</div>
    <div class="cardTable-whom col-3">@Html.ActionLink("EditCard", "EditCard", "Congratulation", new { id = card.Id },null) </div>
  </div>
}
<p>
  @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
  @Html.ActionLink("Back to List", "Index")
</p>
@section css{
  <link href="~/Content/congratulationCard/card.css" rel="stylesheet" />
  }
@section scripts{
<script src="~/Scripts/congratulationCard/congratulationCard.js"></script>
  }

