<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title – приложение ASP.NET</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <ul class="nav">
            <li class="nav-item">@Html.ActionLink("Домашняя страница", "Index", "Home",null,new {@class="nav-link" })</li>
            <li class="nav-item">@Html.ActionLink("Контакт", "Contact", "Home", null, new { @class = "nav-link" })</li>
          </ul>
        </div>
        <div class="col-6">
          <ul class="nav justify-content-end">
            <li class="nav-item"><a class="nav-link" href="#">Войти</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Зарегистрироваться</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      @if (IsSectionDefined("Footer"))
      {
        @RenderSection("Footer")
      }
      else
      {
        <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>}
    </footer>
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
