<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title – приложение ASP.NET</title>
  @Styles.Render("~/Content/css")
  @RenderSection("css", required: false)
  @Scripts.Render("~/bundles/modernizr")
  <!-- Owl Stylesheets -->
  <link rel="stylesheet" href="/Scripts/OwlCarousel/assets/owl.carousel.css">
  <link rel="stylesheet" href="/Scripts/OwlCarousel/assets/owl.theme.default.css">
</head>
<body>
  <div class="container">
    <header class="row main-header">
      <div class="col-12">
        <div class="row"><div class="col-2">
  <img src="" alt="Logo" class="main-logo" />
</div>
<div class="col-8">
  <h1 class="text-uppercase text-center">cоздай свою online открытку</h1>
</div>
<div class="col-2">
  <a href="#" class="main-loginBtn">Вход</a>
  <a href="#" class="main-registrationBtn">Регистрация</a>
</div></div>
      </div>
      <div class="col-12">
        <div class="row">
          <nav class="nav col-12 justify-content-end">
            <a href="#" class="nav-link">Как пользоваться</a>
            <a href="#" class="nav-link">Создать открытку</a>
            <a href="#" class="nav-link">Контакты</a>
          </nav>
        </div>
      </div>
    </header>
    @RenderBody()
    <footer>
      @if (IsSectionDefined("Footer"))
      {
        @RenderSection("Footer")
      }
      else
      {
        <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>}
    </footer>
  </div>
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  <script src="~/Scripts/OwlCarousel/owl.carousel.js"></script>
  @RenderSection("scripts", required: false)
</body>
</html>
